<!DOCTYPE html>
<html>
    <head>
        <% if (status != 'done') { %>
            <script>
            window.setTimeout(function() {
                window.location.reload();
            }, 5000)
            </script>
        <% } %>
    </head>
    <body>
        <h2>Audio Sample</h2>
        <audio controls>
            <source src="<%= audioFile %>">
        </audio>
        
        <h2>Status</h2>
        <div id="status">
            <% if (status == 'waiting_base_transcribe') { %>
                <strong>Awaiting 'Base' Transcription</strong>
            <% } else { %>
                <small>Awaiting 'Base' Transcription</small>
            <% } %>
            > 
            <% if (status == 'waiting_ai_parse') { %>
                <strong>Awaiting GPT Data Extraction</strong>
            <% } else { %>
                <small>Awaiting GPT Data Extraction</small>
            <% } %>
            >
            <% if (status == 'done') { %>
                <strong>Done</strong>
            <% } else { %>
                <small>Done</small>
            <% } %>
        </div>
        <h2>Transcription - WhisperAI</h2>
        <quote><%=transcriptions.base.data%></quote>
        <p><small>Time: <%=transcriptions.base.seconds%>.</small></p>

        <h2>Extract data using GPT-3</h2>
        <p>GPT-3 is being used with the following prompt:</p>
        <ul>
            <li>Absence: <%=ai_parse.absence%></li>
            <li>Child Name: <%=ai_parse.childName%></li>
            <li>Reason for Absence: <%=ai_parse.reasonForAbsence%></li>
            <li>Length of Absence: <%=ai_parse.lengthOfAbsence%></li>
        </ul>

        <h3>GPT Prompt used to extract data:</h3>
        <quote style="padding:10px; background:#eee; font-size:13px; display:block;">Given the following Prompt, please provide the following information:<br><br>
                
            ${TRANSCRIBED TEXT}<br><br>

            Was a reson for absence given? (Absence Notification:)<br>
            What is the name of the child provided (if given)? (Child Name:)<br>
            What is the reason they won't be attending school (if given)? (Reason:)<br>
            Length of absence (if given)? (AM, PM, All Day:)</quote>
        <p>Token Cost: <%=ai_parse.cost.tokens%></p>
        <p>Actual Cost: $<%=ai_parse.cost.actualCents%></p>
    </body>
</html>
